
.boton {
    font-size: 33px;
    padding: 100px 80px;
    background-color: #f5f1f1;
     border: none;
    cursor: pointer;
    color: black;
    border-radius: 10%;
    
}

.separador {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    column-gap: 50px;
    align-items: center;
}     

body{
    background-color:#175ba3 ;
    
}
 
a{
    text-decoration: none;
    color: black;
}