*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'PT Sans Narrow', sans-serif;}

body{
    background-color: #ffffff;
}

.Caja-CuentaNueva{
    background-color: rgb(74, 183, 197);
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    margin: 12% auto;
    border-radius: 20px;
    box-shadow: 2px 5px 2px rgb(53, 146, 158);
 
}

.Caja-CuentaNueva h1{
    color: #0a0a0a;
    letter-spacing: 1px;
    font-size: 32px;
    margin: 8px 0;
}

.Caja-CuentaNueva form{
    display: flex;
    flex-direction: column ;
}

.Caja-CuentaNueva form label{
    color: #040404;
    font-weight: 600;/*ancho de la letra*/
}

.Caja-CuentaNueva form input[type="text"],
.Caja-CuentaNueva form input[type="password"]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    height: 30px;
    outline: none;
    color: #0a0a0a;
    transition: 0.5s;
}

.Caja-CuentaNueva form input[type="text"]::placeholder,
.Caja-CuentaNueva form input[type="password"]::placeholder{
    color: rgb(0, 0, 0);

}

.Caja-CuentaNueva form input[type="text"]:focus,
.Caja-CuentaNueva form input[type="password"]:focus{
    border-color: white;
}

.Caja-CuentaNueva form input[type="submit"]{
    width: 200px;
    margin: 12px auto;
    padding: 8px;
    border-radius: 20px;
    border: none;
    background-color: #ffffff;
    box-shadow: 2px 2px 8px rgb(29, 29, 29);
}

.Caja-CuentaNueva form input[type="submit"]:hover{
    background-color: rgb(225, 218, 197);
    cursor: pointer;
}
.Caja-CuentaNueva form input[type="submit"]:active{
    box-shadow: 0px 0px 0px;
}

.Caja-CuentaNueva a{
    color: rgb(0, 0, 0);
    text-decoration: none;

}

.Caja-CuentaNueva a:hover{
    color: #000000;
}

body{
    background-image: url(Schule_Vokabeln_lernen-650x433.jpg);
    background-size: cover;
    background-position: bottom;
}